{% extends 'base.html' %}

{% block content %}
<h2>Donor List</h2>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Contact</th>
            <th>Blood Type</th>
            <th>Availability</th>
        </tr>
    </thead>
    <tbody>
        {% for donor in donors %}
        <tr>
            <td>{{ donor[1] }}</td>
            <td>{{ donor[2] }}</td>
            <td>{{ donor[3] }}</td>
            <td>{{ donor[4] }}</td>

        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
